/*Header*/
* {
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
    color: #777;
}

/* This next section is scalable design, currently two modes, one for smaller mobile screens, and another for desktops.*/

/*mobile*/
@media screen and (max-width:599px) {
    /*this is setting the background image and the sizing of the header*/
    .main_header {
        background-image: url("images/header1.jpg");
        background-size: cover;
        padding-bottom: 30px;
    }
    
    /*This controls the size of the text int he menu buttons and their locations*/
    .main_nav {
        text-align: center;
        font-size: 1.5em;
        font-weight: lighter;
        border-bottom: 1px solid rgba(255,255,255,.3)
    }

    /*All the ul's inside a navigation class will not have a margin*/
    .nav ul {
        margin: 0;
    }

    /*All the li's inside a navigation class will display inline*/
    .nav li {
        display: inline;
    }

    /* all the a's inside the nav class will follow this*/
    .nav a {
        display: inline-block;
        padding: .5em;
        color: white;
        text-decoration: none;
    }

    /*all this does is to add the darkening when hovering*/
    .nav a:hover {
            background-color: rgba(255,255,255,.3);
     }

    /*This is for a small style of text that I'm using in mobile*/
    .name-small {
        text-align: center;
        margin: 0;
        font-size: 3em;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
        color: navajowhite;
    }

    /*Homepage*/
    .content_section {
        text-align: center;
        margin: 1em;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 1.5em;
    }

    .section_header {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
        color: dimgrey;
        text-align: center;
        font-size: 2em;
    }
    /*end homepage*/

    /*All footer stuff*/
    .main_footer {
        background-color: darkolivegreen;
        color: white;
        padding: .25em 0;
        width: 100%;
    }

    .footer_subtitle {
        text-align: center;
        margin: 0;
        font-size: 2em;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
        color: white;
    }

    .main_footer_container {
        display: flex;
        align-items: center;
    }

    .main_footeer_container ul {
        flex-grow: 1;
        text-align: end;
    }

    .footer_nav {
        padding: 0 .5em;
    }

    /*Just to make text white used it in footer*/
    .white_text {
        color: white;
    }
    /*End footer stuff*/

    /*All work experience page*/
    .box {
        border: 10px solid transparent;
        margin: 1em auto;
        padding: 0.5em 1em;
        z-index: 1;
    }

    .left_content_section {
        text-align: left;
        margin: 1em;
    }

    .center {
        text-align: center;
    }

    .work_pic {
        float: inherit;
        height: 133px;
        width: 178px;
        margin: 20px;
        border-radius: 10%;
    }
    /*End all work experience page*/

    /* Prjoects page*/
    .project_pic {
        float: left;
        height: 210px;
        width: 210px;
        margin: 2em 2em;
        border-radius: 10%;
    }

    .youtube_video {
        width: 280px;
        height: 158px;
    }
    /*End projects page*/

}

/*desktop*/
@media screen and (min-width:600px) {
    /*this is setting the background image and the sizing of the header*/
    .main_header {
        background-image: url("images/header1.jpg");
        background-size: cover;
        padding-bottom: 200px;
        z-index: 9999;
    }

    .main_nav {
        text-align: center;
        font-size: 1.5em;
        font-weight: lighter;
        border-bottom: 1px solid rgba(255,255,255,.3)''
        z-index: 9999;
    }

    /*All the ul's inside a navigation class will not have a margin*/
    .nav ul {
        margin: 0;
        z-index: 9999;
    }

    /*All the li's inside a navigation class will display inline*/
    .nav li {
        display: inline;
        z-index: 9999;
    }

    /* all the a's inside the nav class will follow this*/
    .nav a {
        display: inline-block;
        padding: .5em;
        color: white;
        text-decoration: none;
        z-index: 9999;
    }
    /*all this does is to add the darkening when hovering*/
    .nav a:hover {
            background-color: rgba(255,255,255,.3);
            z-index: 9999;
     }

    /*Homepage*/
    .content_section {
        text-align: center;
        margin: 1.2em;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 1.5em;
    }

    .section_header {
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
        color: dimgrey;
        text-align: center;
        font-size: 2em;
    }
    /*end homepage*/

    /*All footer stuff*/
    .main_footer {
        background-color: darkolivegreen;
        color: white;
        padding: 1em 0;
        width: 100%;
    }

    .footer_subtitle {
        text-align: center;
        margin: 0;
        font-size: 2em;
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: normal;
        color: white;
    }

    .main_footer_container {
        display: flex;
        align-items: center;
    }

    .main_footeer_container ul {
        flex-grow: 1;
        text-align: end;
    }

    .footer_nav {
        padding: 0 1em;
    }

    /*Just to make text white used it in footer*/
    .white_text {
        color: white;
    }
    /*End footer stuff*/
}
/*end of screen size dependant css*/


/**/
/**/
/*This is for the dropdown menu on the projects tab in the nav*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: darkolivegreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 9999;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
/**/
/**/

/**/
/**/
/*This is for the dropdown menu on the main part of the Projects page tab in the nav*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: darkolivegreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
/**/
/**/

/* scss */
[data-aos] {
  pointer-events: none;
  &.aos-animate {
    pointer-events: auto;
  }
}

.aos-init [data-aos].aos-animate {
    transform: unset;
  }


/*this next one is to remove all margins from body, all the class*/
html, body {
    margin: 0;
    padding: 0;
}


/*Generic Class*/
.index_pic {
    float: inherit;
    height: 176px;
    width: 234.67px;
    margin: 20px;
    border-radius: 10%;
    display: inline-block;
}

.index_pic:hover {
    opacity: 0.5;

}
  
.centered-caption {
    text-align: center;
}

.article_pic {
    float: inherit;
    height: 352px;
    width: 469.34px;
    margin: 20px;
    border-radius: 10%;
    display: inline-block;
    
  }
  
  .article_figure {
    margin: 20px;
    border-radius: 10%;
    display: inline-block;
  }
/*end of generic classes*/